/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    justify-content: top;
    align-items: top;
  }

  html,
  body {
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 100%;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  html,
  body {
    height: 100%;
  }
}

html,
body {
  margin: 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Source Code Pro", monospace;
  margin: 0 auto;
  background-color: #181825;
  line-height: 1.5;
  color: #cdd6f4;
  scrollbar-width: none;
}

h2 {
  font-size: 1.5em;
  color: #cdd6f4;
}

h3,
h4,
h5,
h6,
strong,
b {
  color: white;
}

a {
  color: #89b4fa;
}
nav a {
  margin-right: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: #44475a;
}

#favicon {
  width: 100px;
  height: 100px;
}

li {
  margin: 0.1rem;
  text-align: center;
  /* list-style-position: inside; */
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li > p {
  padding: 0.25rem;
  margin: 0;
}
