---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
import { Image } from "astro:assets";
---

<Layout>
  <main>
    <section>
      <ul>
        {
          allPosts.map((post) => (
            <li>
              <time datetime={post.data.pubDate.toString()}>
                {new Date(post.data.pubDate).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
      <!-- <p style="font-size: 1.5em; text-align: center;">Coming soon...</p> -->
    </section>
  </main>

  <style>
    ul {
      list-style-type: none;
      padding: unset;
    }
    ul li {
      display: flex;
    }
    ul li time {
      flex: 0 0 130px;
      font-style: italic;
      color: #595959;
    }
    ul li a:visited {
      color: #8e32dc;
    }
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Source Code Pro", monospace;
      padding: 20px 0;
      margin: 0 auto;
      height: 100%;
    }

    section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</Layout>
