---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TC8FZQTN5J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TC8FZQTN5J');
</script>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
<h2>
Hey there, I'm Tyler. Former game design student and web design enthusiast
</h2>
<p>Some projects i've been apart of:</p>
<ul>
<li>Game/Level Designer for <a href="https://tylerguy123.itch.io/the-investigation-tales">Investigation Tales</a>, a proof of concept for an investigation game</li>
<li>UX + Sound Designer for <a href="https://lunar-panda-studios.itch.io/dead-on-arrival">Dead on Arrival</a>, an atmospheric horror-puzzle game with an escape room theme. My responsibilities included assessing the quality of the game's pitch and concept, as well as quality of builds. Later assisted with sourcing sounds appropriate for the game and making sure they were correctly implemented.</li>
<li>Game Designer for <a href="https://thunderblossomstudios.itch.io/courier-clash">Courier Clash</a>, a vehicle combat game set within a toy/childlike environment. My main responsibilities were to generate ideas for the game concept and produce documentation during the pre-production phase. As the project progressed, my responsibilities shifted to getting gameplay elements withim emgine, reporting back to the relevant departments if any adjustments were needed.</li>
</ul>
<h2>
Currently working on:
</h2>
<ul>
<li>Expanding my knowledge of ReactJS and full stack development.</li>
<li>Maintainer of several repositories for <a href="https://github.com/TerrashiftNET">@TerrashiftNET</a>
</li>
<li><a href="https://github.com/tylerguy/Chat-Bubbles">Chat Bubbles </a>a react app that displays twitch chat messages using the twitch irc package, tmi.js</li>
</ul>
<em>Most of my ongoing projects are private, but this will likely change in the future once they are ready</em>      
      <Footer />
    </main>
  </body>
</html>
