---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Welcome!</h1>
      <p>
        Welcome to my Website, it's a bit empty at the moment but it will soon
        be updated with more content including any projects I'm working on, my
        blog and more. For now, here's a list of some of the things I'm working
        on:
      </p>
      <ul>
        <li>Studio game based around vehicle combat. (see</li>
        <li>A 2d Arcade game</li>
        <li>3D model of a suit of armor, animation and rigging.</li>
      </ul>
      <p>
        This is everything academically, I'm also working on a few personal
        projects, including:
      </p>
      <ul>
        <li>This website you see here</li>
        <li>Several discord bots (using discord.js)</li>
        <li>
          Experimenting with full stack web development (using react, node,
          express, mongoDB)
        </li>
        <li>
          A few other things I can't remember right now. (see the full list <a
            href="https://tylerguy.github.io/projects/">here</a
          >)
        </li>
      </ul>
      <p>
        I'll update this page with more information soon. Thanks for visiting!
      </p>
      <Footer />
    </main>
  </body>
</html>
