---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import courierclashimage from "../content/media/courierclash.png";
import deadonarrivalimage from "../content/media/deadonarrival.png";
import investigationtalesimage from "../content/media/investigationtales.png";
import chickenattackimage from "../content/media/chickenattack.png";
---

<Layout title="TylerDev | Home">
  <h2 style="text-align: center;">
        Hey there, I'm Tyler. Former game design student and web design
        enthusiast
      </h2>
  <div id="container">
    
    <div id="content">
      <p>Some projects i've been apart of:</p>
      <ul>
        <li>
          Game/Level Designer for <a
            href="https://tylerguy123.itch.io/the-investigation-tales"
            >Investigation Tales</a
          >, a proof of concept investigation game.
        </li>
        <li>
          UX + Sound Designer for <a
            href="https://lunar-panda-studios.itch.io/dead-on-arrival"
            >Dead on Arrival</a
          >
          , an atmospheric horror-puzzle game with an escape room theme. My responsibilities
          included assessing the quality of the game's pitch and concept, as well
          as quality of builds. Later assisted with sourcing sounds appropriate for
          the game and making sure they were correctly implemented.
        </li>
        <li>
          Game Designer for <a
            href="https://tbgamestudio.itch.io/courier-clash"
            >Courier Clash</a
          >, a vehicle combat game set within a toy/childlike environment. My
          main responsibilities were to generate ideas for the game concept and
          produce documentation during the pre-production phase. As the project
          progressed, my responsibilities shifted to getting gameplay elements
          within engine, reporting back to the relevant departments if any
          adjustments were needed.
        </li>
      </ul>
      <p>Currently working on:</p>
      <ul>
        <li>
          Currently partaking in a creative gaming bootcamp delivered by YTKO
        </li>
        <li>Developing a mobile game for android devices using Unity Engine</li>
        <li>
          Maintainer of several repositories for <a
            href="https://github.com/TerrashiftNET">@TerrashiftNET</a
          >
        </li>
      </ul>
    </div>
    <div id="showcase">
      <Image src={courierclashimage} alt="Courier Clash" width={500}, height={500} class="image" />
      <Image src={deadonarrivalimage} alt="Dead on Arrival" width={500}, height={500} class="image"/>
      <Image src={investigationtalesimage} alt="Investigation Tales" width={500}, height={500} class="image"/>
      <Image src={chickenattackimage} alt="Chicken Attack" width={500}, height={500} class="image"/> 
    </div>
  </div>
</Layout>

<style>
  #container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 50px;
  }
  #content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    flex: 2;
    padding: 10px;
  }

  #showcase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 10px;
    max-height: 500px;
    /* make scrollable */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }

  #showcase::-webkit-scrollbar {
    display: none;

  }
  li {
    margin: 0.25rem;
    text-align: left;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  p {
    font-weight: bold;
  }

  .image {
    margin: 10px;
    border: 3px white solid;
    border-radius: 10px;
  }

</style>
