---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
<h2>
Hey there, I'm Tyler. Former game design student and web design enthusiast
</h2>
<p>
Currently working on expanding my knowledge of ReactJS and full stack development.
</p>
<h2>
Currently working on:
</h2>
<ul>
<li>Maintainer of several repositories for <a href="https://github.com/TerrashiftNET">@TerrashiftNET</a>
</li>
<li><a href="https://github.com/tylerguy/Chat-Bubbles">Chat Bubbles </a>a react app that displays twitch chat messages using the twitch irc package, tmi.js</li>
</ul>
<em>Most of my ongoing projects are private, but this will likely change in the future once they are ready</em>      
      <Footer />
    </main>
  </body>
</html>
