---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} <a href="https://github.com/tylerguy" style="color: white; font-weight:bold; text-decoration:none;">Tylerguy.</a> All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
