---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
  data-astro-prefetch
>
  <slot />
</a>
<script>
  document.addEventListener("astro:after-swap", () => {
    const links = document.querySelectorAll("a");
    links.forEach((link) => {
      const linkPath = new URL(link.href).pathname;
      const currentPath = window.location.pathname;
      const isActive =
        linkPath === currentPath || linkPath === currentPath.replace(/\/$/, "");

      if (isActive) {
        link.classList.add("active");
      } else {
        link.classList.remove("active");
      }
    });
  });
</script>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.25s;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
    color: #bd93f9;
  }
  a:hover {
    color: #bd93f9;
    transition:
      transform 0.25s,
      font-size 0.1s;
    font-size: 25px;
    transform: translate(5px, 0);
  }

  a:not(:hover) {
    transition:
      transform 0.25s,
      font-size 0.1s;
    font-size: 20px;
    transform: translate(0, 0);
  }
</style>
