---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
  <main>
    <div id="content">
      <div class="header">
        <h1>{frontmatter.title}</h1>
        <div id="description">
          <h3>{frontmatter.description}</h3>
        </div>
      </div>
      <div id="article">
        <slot />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #cdd6f4;
    height: 100%;
    width: 100%;
  }

  #content {
    text-align: center;
    display: flex;
    flex-direction: column;
    display: flex;
    width: 100%;
    overflow: scroll;
  }

  .header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  #article {
    padding: 0 50px;
  }
</style>
