---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} data-header />
    <slot />
    <img
      src="https://ipv4.quest/claim?name=tylerdev.space"
      hidden=""
      style="display: none"
    />
    <Footer />
  </body>
</html>
